
/*
    the widths for the left/right/mid panel is a little confusing 



*/



#container 
{
    /*text-align:center*/
    width: 1000px;
}

#header
{
    width: 1000px; /*must be same as container width*/
    height: 130px;
    position: relative; /* will be centered relative to the container*/
    /*background-color: cadetblue;*/
    border-bottom: 2px solid #000000; /*black border*/
    margin-bottom: 5px; /* this will give margin between the title and the rest of the page*/
}

#leftPanel 
{
    text-align: center;
    float: left;
    width: 144px;
    height: 450px;
    background-color: yellow;
    border-right: 1px dashed #694717;

}

#rightPanel 
{
    text-align: center;
    float: right;
    width: 144px;
    height: 450px;
    background-color: aqua;
    border-left: 1px dashed #694717;
}

#midPanel 
{
    /*text-align:left;
    background:Orange;
    margin:0 auto;
    display:inline-block
    width: calc(100% - 160px);
    */
    margin: auto;
    background:Orange;
    width: 700px;
    padding: 10px 0px 0px 10px; 
}

#footer
{
    clear: both; /*clears both right and left nav so it scales across the width of webpage*/
    background-color: crimson;
}

/* want to try to give the buttons an effect when user clicks on them*/
#button 
{
  background: url(standardZombie.png) no-repeat top;
}


#button: active
{
    background: url(button.png) no-repeat bottom;
}
