
/*
    the widths for the left/right/mid panel is a little confusing 
    # are for id's - take precendense over class
    . are for class's
*/



#container {
    /*text-align:center*/
    width: 1000px;
}

#header{
    width: 1000px; /*must be same as container width*/
    height: 130px;
    position: relative; /* will be centered relative to the container*/
    /*background-color: cadetblue;*/
    border-bottom: 2px solid #000000; /*black border*/
    margin-bottom: 5px; /* this will give margin between the title and the rest of the page*/
}

#leftPanel {
    text-align: center;
    float: left;
    width: 144px;
    height: 500px;
    background-color: yellow;
    border-right: 1px dashed #694717;

}

#rightPanel {
    text-align: center;
    float: right;
    width: 144px;
    height: 500px;
    background-color: aqua;
    border-left: 1px dashed #694717;
}

#midPanel {
    /*text-align:left;
    background:Orange;
    margin:0 auto;
    display:inline-block
    width: calc(100% - 160px);
    */
    margin: auto;
   /* background:Orange;*/
    width: 700px;
    padding: 10px 0px 0px 10px; 
}

#footer{
    clear: both; /*clears both right and left nav so it scales across the width of webpage*/
    background-color: crimson;
}

/* want to try to give the buttons an effect when user clicks on them*/
/*#button 
=======
/* want to try to give the buttons an effect when user clicks on them
#button 
>>>>>>> master
{
  background: url(button.png) no-repeat top;
}
#button: active
{
    background: url(button.png) no-repeat bottom;
}*/

/* MODAL - will be used to display WIN/LOSE to the user*/
.modal { /* this is the background for the modal */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: ;
    margin: auto; /* 25% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}